<!-- base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>

<div class="header">
    <!-- Your header content goes here -->
    <h1>XPERTREVIEW Site</h1>
</div>

<div class="content">
    <!-- The content of extended templates will be inserted here -->
    {% block content %}{% endblock %}
</div>

<div class="footer">
    <!-- Your footer content goes here -->
    <p>&copy; 2023  Site. All rights reserved.</p>
</div>

</body>
</html>
