{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Our Services</title>
    <style>
        body{
    
    background-image: url('{% static "admin/img/servicebg.jpeg" %}');
    background-size:  cover;
            
}
    </style>
</head>
<body>

<h1>Our Services</h1>


<h2><a href="https://gurugoutam.com/computer-hardware-solution">1. Computer Hardware Solutions</a></h2>
<p>
    Here, we offer a wide range of computer hardware solutions to meet your business needs.

</p>

<h2><a href="https://gurugoutam.com/it-infrastructure-service">2. IT Infrastructure Management</a></h2>
<p>
    Our IT infrastructure management services ensure the smooth operation of your technology systems.
    
</p>

<h2><a href="https://gurugoutam.com/software-web-development">3. Software Development Service</a></h2>
<p>
    Our software development service caters to your specific requirements and helps you create innovative solutions.
    
</p>

<h2><a href="https://gurugoutam.com/enterprise-email-service">4. Enterprise Email Service</a></h2>
<p>
    We provide secure and efficient email services for businesses to enhance communication.
    
</p>

<!-- Add more services here if needed -->

</body>
</html>
